#!/usr/bin/env bash
if ! has nix_direnv_version; then
  log_error "nix-direnv is not installed. Please install it: https://github.com/nix-community/nix-direnv#getting-started"
  return 1
fi

use flake
